/* defining variables */
:root {
  --dark-grey: #393e46;
  --teal: #4ecca3;
  --light-grey: #eeeeee;
}

/* universal selectors */
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

/* element selectors */

/* header */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-grey);
}

header ul,
header li,
header a {
  display: inline;
  background-color: var(--dark-grey);
}

header a {
  color: var(--teal);
  text-decoration: solid;
  border-bottom: 2px solid var(--teal);
}

h1 {
  background-color: var(--teal);
  color: var(--dark-grey);
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  background-color: var(--dark-grey);
  align-items: center;
  padding: 9px;
}

/* h2 and p elements */

h2 {
  border-right: 4px solid var(--dark-grey);
  padding: 10px;
  width: 20%;
  text-align: right;
  color: var(--dark-grey);
}

p {
  padding: 5px;
  width: 80%;
  text-align: center;
}

/* background image */
figure {
  height: 200px;
  width: 100%;
  background-image: url("../images/background-image.jpg");
  margin-bottom: 25px;
  background-size: cover;
  background-position: top;
}

/* work section */
article {
  border: 4px solid var(--teal);
  flex: 1 2 200px;
}

article:hover {
  transform: scale(1.2);
  box-shadow: 8px 10px 7px #c7c7c7;
  z-index: 2;
}

article img {
  width: 100%;
}

div {
  background-color: var(--teal);
  color: var(--dark-grey);
  position: relative;
  bottom: 20px;
}

div h3,
div p {
  background-color: var(--teal);
  text-align: center;
  width: 100%;
}

img {
  width: 300px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

footer ul,
footer li,
footer a {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 80%;
  text-align: center;
  padding: 7px;
}

footer a {
  padding: 0;
  text-decoration: solid;
  border-bottom: 2px solid var(--dark-grey);
}

/* class selectors */
.about-me {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.about-me img,
.about-me p {
  width: 40%;
}

.about-me p {
  border: solid 5px var(--teal);
  line-height: 100%;
  height: 100%;
  padding: 25px;
  margin-top: 23px;
  margin-right: 28px;
}

.about-me img {
  line-height: 100%;
  height: 100%;
  width: 180px;
  border: solid 5px var(--teal);
  margin-top: 24px;
  margin-bottom: 24px;
}

.work-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px 20px 20px;
}

.horiseon-card {
  flex: 1 0 100%;
}

.horiseon-card img {
  width: 100%;
}

/* media queries */
@media screen and (max-width: 768px) {
  header {
    display: block;
  }

  h1 {
    text-align: center;
  }

  h2 {
    width: 100%;
    text-align: center;
    border-right: 0px;
    border-bottom: 4px solid var(--dark-grey);
  }

  nav {
    text-align: center;
  }

  p {
    padding: 10px;
    width: 100%;
  }

  article {
    width: 100%;
    margin-bottom: 10px;
  }

  footer {
    display: block;
  }

  .about-me {
    display: block;
  }

  .about-me img,
  .about-me p {
    width: 100%;
  }

  .work-block {
    display: block;
    margin-bottom: 0;
  }

  .cards {
    width: 100%;
  }

  .contact-me-ul {
    width: 100%;
  }
}
