/* defining variables */
:root{
    --dark-grey: #393E46;
    --teal: #4ECCA3;
    --light-grey: #EEEEEE;
}

/* universal selectors */
*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/* element selectors */
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-grey);
}

h1{
    background-color: var(--teal);
    color: var(--dark-grey);
    padding-left: 5px;    
    padding-right: 5px;
}

nav{
    background-color: var(--dark-grey);
    align-items: center;
    padding: 9px;
}

header ul, header li, header a{
    display: inline;
    background-color: var(--dark-grey);
}

header a{
    color: var(--teal);
    text-decoration: solid;
    border-bottom: 2px solid var(--teal);
}

h2{
    border-right: 4px solid var(--dark-grey);
    padding: 10px;
    width: 20%;
    text-align: right;
    color: var(--dark-grey);
}

p{
    padding: 5px;
    width: 80%;
    text-align: center;
}

/* background image */
figure{
    height: 200px;
    width: 100%;
    background-image: url("../images/background-image.jpg");
    margin-bottom: 25px;
    background-size: cover;
    background-position: top;
}


/* manipulate articles */
article{
    border: 4px solid var(--teal);
}

article:hover{
    border: solid 4px red;
}

article::after{
    position: relative;
    /* content: "hello"; */
}

img{
    width: 200px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer ul, footer li, footer a{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    text-align: center;
    padding: 7px;
}

footer a{
    padding: 0;
    text-decoration: solid;
    border-bottom: 2px solid var(--dark-grey);
}

/* class selectors */
.about-me{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.work-block{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* media queries */

