/* defining variables */
:root{

}

/* universal selectors */
*{
    font-family: Arial, Helvetica, sans-serif;
}

/* element selectors */
header{
    color: red;
    text-align: left;
    border: 10px black solid;
}

footer{
    
}
/* class selectors */

/* media queries */

